.Weather {
    font-family: arial, sans-serif;
    margin: 55px 95px;
    border: 1px solid ;
    padding: 20px;
    border-radius: 4px;
    color: rgb(135, 135, 135);
  }
  h1{
    margin:30px ;
  }
  input{
    color: grey;
    border: 1px gray;
    padding-top: 12px;
    
  }
  
  input[type =submit]{
    padding: 12px;
    margin-left: 20px; 
  }
  